.all-events__categorys {
    display: grid;
    // align-items: center;
    // justify-content: space-between;
    // flex-wrap: wrap;
    gap: 20px;
    grid-template-columns: repeat(7, 1fr);

    @media (max-width: 1919px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 1279px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}

#category-btn {
    display: none;
    @media (max-width: 767px) {
        display: flex;
        width: 100%;
        margin-top: 20px;
    }
    &.active {
        background-color: #fff;
        color: #603A0A;
        border-color: #603A0A;
    }
}

.all-events__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // width: calc(100% / 7);
    border: 2px solid transparent;
    border-radius: 8px;
    min-height: 216px;
    padding-top: 40px;
    img {
        margin-bottom: 20px;
    }
    span {
        font-size: 14px;
        font-weight: 600;
        color: #1B1706;
        text-transform: uppercase;
        text-align: center;
        @media (max-width: 767px) {
            font-size: 12px;
        }
    }
    &:hover,
    &.active {
        border-color: #D0C5A3;
        background-color: #fff;
    }
    @media (max-width: 1279px) {
        min-height: 210px;
    }
    @media (max-width: 767px) {
        border-color: #DADADA;
    }
}
