.top_menu {
  margin-left: auto;
  margin-right: 30px;
  // flex:1 0 auto;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & > li {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 30px;
    &:hover > .main-nav__submenu-wrapper {
      display: block;
    }
    & > a,
    & > button {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      color: #2e0800;
      text-transform: uppercase;
      background-color: transparent;
      img {
        margin-left: 5px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a:hover {
    color: #a48659;
    transition: all 0.3s;
  }
  @media (max-width: 1279px) {
    display: none;
  }
}

// .main-nav._tablet {
//   display: none;
// }

// @media (max-width: 1919px) {
//   .main-nav {
//     display: none;
//   }
//   .main-nav._tablet {
//     display: flex;
//   }
// }

// @media (max-width: 1279px) {
//   .main-nav._tablet {
//     display: none;
//   }
// }

.main-nav__submenu {
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(69, 46, 17, 0.2);
  padding: 15px 30px;
  background-color: #fff;
  // display: none;
  a {
    font-size: 14px;
    font-weight: 600;
    color: #494843;
    height: 46px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(218, 218, 218, 0.48);
    white-space: nowrap;
    text-transform: uppercase;
    &:last-child {
      border-bottom: 0;
    }
  }
  li:last-child a {
    border-bottom: none;
  }
}

// .main-nav__submenu-wrapper
//   > .main-nav__submenu
//   > .main-nav__submenu-wrapper
//   > .main-nav__submenu {
//   a {
//     border-bottom: 1px solid rgba(218, 218, 218, 0.48);
//   }
// }

.main-nav__submenu-wrapper {
  padding-top: 20px;
  display: none;
  position: absolute;
  left: -20px;
  z-index: 100;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 35px;
  right: 10px;
  padding: 30px;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(69, 46, 17, 0.2);
  border-radius: 16px;
  a {
    font-size: 14px;
    font-weight: 600;
    color: #494843;
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(218, 218, 218, 0.48);
    white-space: nowrap;
    text-transform: uppercase;
  }
}
///////////////////////////////////////////////////////////////////
li.dd_menu {
  position: relative;
  display: none;
}

ul.dropdown-menu li {
  // float: none;
}

ul.main-nav {
  padding: 0;
  margin: 0;
}

ul.main-nav > li {
  list-style-type: none;
  display: block;
  // float: left;
  padding: 5px 0;
  text-align: center;
  white-space: nowrap;
  a {
    display: flex;
    align-items: center;
  }
}

ul.main-nav li.dd_menu {
  // float: right;
  position: relative;
  display: none;
}

ul.main-nav ul.dropdown-menu {
  display: none;
  position: absolute;
  top: 35px;
  right: 10px;
  padding: 5px;
  border: #ccc 1px solid;
  border-radius: 5px;
  z-index: 2;
}

ul.main-nav ul.dropdown-menu li {
  float: none;
}

ul.main-nav a {
  // color: #0b4da2;
  display: inline-block;
}

.dropdown-toggle {
  background-image: url("../images/dest/vector/arrow_drop_down.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 18px 9px;
  padding-right: 29px;
}
