.player {
  background-color: #fff;
  border: 1px solid #d0c5a3;
  box-shadow: 0px 4px 6px rgba(69, 46, 17, 0.12);
  border-radius: 16px;
  padding: 40px;
  padding-bottom: 47px;
  margin-bottom: 40px;
  @media (max-width: 1919px) {
    padding: 43px;
  }
  @media (max-width: 767px) {
    padding: 20px;
  }
}

.pleer__title {
  font-size: 24px;
  font-weight: 600;
  color: #1B1706;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.pleer__time {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.audio-track {
  width: 100%;
  height: 2px;
  background-color: #d0c5a3;
  .time {
    position: relative;
    width: 0;
    background-color: #603A0A;
    height: 2px;  }
  .time__point {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    background-color: #603A0A;
    border-radius: 50%;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
  }
}

.pleer__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  button {
    background-color: transparent;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: all 0.3s;
    }
  }
}

.time-current,
.time-duration {
  font-size: 16px;
  font-weight: 600;
  color: #1B1706;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
