.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    span {
      font-size: 24px;
      font-weight: 600;
      color: #1B1706;
    }
  }

  .share__links {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      height: auto;
      max-width: 100%;
    }
    a {
      width: 48px;
    }
  }
