extends base
block page
    section.notfound._container
        h1 Комплекс в процессе строительства
        img(src="images/dest/vector/404.svg" alt="")
        span В скором времени мы рады будем принять наших гостей
        a(href="index.html").button-default.button-default--white На главную
