extends base
block page
    section.main-banner
        .main-banner__wrapper
            .main-banner__head._container
                h1.main-banner__title Парк мельниц
                p.main-banner__descr Загородный этнографический комплекс для активного отдыха всей семьёй рядом со старинной водяной мельницей
            .main-banner__nav.banner-nav._container
                a(href="otdyh-vsey-semyey.html").banner-nav__link
                    span.banner-nav__title Отдых всей семьей
                    p.banner-nav__descr Краткое описание Аллеи мельниц буквально в одном предложении
                a(href="events.html.html").banner-nav__link
                    span.banner-nav__title Мероприятия
                    p.banner-nav__descr Краткое описание Аллеи мельниц буквально в одном предложении
                a(href="alleya-melnic.html").banner-nav__link
                    span.banner-nav__title Аллея мельниц
                    p.banner-nav__descr Краткое описание Аллеи мельниц буквально в одном предложении
                a(href="etnograficheskiy-park.html").banner-nav__link
                    span.banner-nav__title Этнографический парк
                    p.banner-nav__descr Краткое описание Аллеи мельниц буквально в одном предложении

    section.events-block
        .events-block__wrapper
            ._container
                h2.title-inner
                    span Ближайшие мероприятия
                    .swiper-nav
                        button.swiper-button.swiper-button-prev
                            <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.66484e-07 11L4.66487e-07 10.9999C5.10329e-07 9.99691 5.39208e-07 9.33623 1.2 9.1999C3.78892 8.90579 6.6 5.4682 6.6 2.15615L6.6 1.55615C6.6 0.893414 7.13726 0.356156 7.8 0.356156L9 0.356156C9.66274 0.356156 10.2 0.893414 10.2 1.55615L10.2 2.15616C10.2 4.67257 9.29763 7.02575 7.78568 8.78796C7.54565 9.06773 7.33334 9.3717 7.18196 9.70781L7.17078 9.73264C6.80729 10.5397 6.80152 11.4627 7.15489 12.2742C7.30624 12.6218 7.5235 12.9354 7.77102 13.2225C9.29182 14.9866 10.2 17.3471 10.2 19.8719L10.2 20.4719C10.2 21.1346 9.66274 21.6719 9 21.6719L7.8 21.6719C7.13726 21.6719 6.6 21.1346 6.6 20.4719L6.6 19.8719C6.6 16.559 3.78849 13.0935 1.2 12.7999C3.93755e-07 12.6638 4.2602e-07 11.9257 4.66484e-07 11Z" fill="white"/></svg>
                        button.swiper-button.swiper-button-next
                            <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 11L11 10.9999C11 9.99691 11 9.33623 9.8 9.1999C7.21108 8.90579 4.4 5.4682 4.4 2.15615L4.4 1.55615C4.4 0.893414 3.86274 0.356156 3.2 0.356156L2 0.356156C1.33726 0.356156 0.800001 0.893414 0.800001 1.55615L0.800001 2.15616C0.800001 4.67257 1.70237 7.02575 3.21432 8.78796C3.45435 9.06773 3.66666 9.3717 3.81804 9.70781L3.82922 9.73264C4.19271 10.5397 4.19848 11.4627 3.84511 12.2742C3.69376 12.6218 3.4765 12.9354 3.22898 13.2225C1.70818 14.9866 0.8 17.3471 0.8 19.8719L0.8 20.4719C0.8 21.1346 1.33726 21.6719 2 21.6719L3.2 21.6719C3.86274 21.6719 4.4 21.1346 4.4 20.4719L4.4 19.8719C4.4 16.559 7.21151 13.0935 9.8 12.7999C11 12.6638 11 11.9257 11 11Z" fill="white"/></svg>

            ._container.opacity-slide
                .swiper.swiper-index.swiper-offset
                    .swiper-wrapper
                        a(href="event.html").swiper__link.swiper-slide
                            img.swiper__pic(src="images/dest/swiper-pics/rectangle42.jpg")
                            span.swiper__descr Какое-то длинное название мероприятия, или новости
                            date.swiper__date
                                img(src="images/dest/vector/date_range.svg")
                                span 7 Октября
                        a(href="event.html").swiper__link.swiper-slide
                            img.swiper__pic(src="images/dest/swiper-pics/rectangle43.jpg")
                            span.swiper__descr Какое-то длинное название мероприятия, или новости
                            date.swiper__date
                                img(src="images/dest/vector/date_range.svg")
                                span 7 Октября
                        a(href="event.html").swiper__link.swiper-slide
                            img.swiper__pic(src="images/dest/swiper-pics/rectangle44.jpg")
                            span.swiper__descr Какое-то длинное название мероприятия, или новости
                            date.swiper__date
                                img(src="images/dest/vector/date_range.svg")
                                span 7 Октября
                        a(href="event.html").swiper__link.swiper-slide
                            img.swiper__pic(src="images/dest/swiper-pics/rectangle45.jpg")
                            span.swiper__descr Какое-то длинное название мероприятия, или новости
                            date.swiper__date
                                img(src="images/dest/vector/date_range.svg")
                                span 7 Октября
                        a(href="event.html").swiper__link.swiper-slide
                            img.swiper__pic(src="images/dest/swiper-pics/rectangle46.jpg")
                            span.swiper__descr Какое-то длинное название мероприятия, или новости
                            date.swiper__date
                                img(src="images/dest/vector/date_range.svg")
                                span 7 Октября
                        a(href="event.html").swiper__link.swiper-slide
                            img.swiper__pic(src="images/dest/swiper-pics/rectangle44.jpg")
                            span.swiper__descr Какое-то длинное название мероприятия, или новости
                            date.swiper__date
                                img(src="images/dest/vector/date_range.svg")
                                span 7 Октября
                        a(href="event.html").swiper__link.swiper-slide
                            img.swiper__pic(src="images/dest/swiper-pics/rectangle45.jpg")
                            span.swiper__descr Какое-то длинное название мероприятия, или новости
                            date.swiper__date
                                img(src="images/dest/vector/date_range.svg")
                                span 7 Октября
                        a(href="event.html").swiper__link.swiper-slide
                            img.swiper__pic(src="images/dest/swiper-pics/rectangle46.jpg")
                            span.swiper__descr Какое-то длинное название мероприятия, или новости
                            date.swiper__date
                                img(src="images/dest/vector/date_range.svg")
                                span 7 Октября



    section.block-image._container
        .block-image__content
            h2.title-inner О комплексе
            p.block-image__text Текст про экскурсии — это «рыба». Он находится рядом с объектом культурного наследия регионального значения — водяной мельницей начала XVIII века. Также в деревне также будут площади под открытым небом для проведения фестивалей. Всё благоустроят, используя дерево, камень и озеленение, как у естественного луга. Детские площадки также оформят в традициях края — с росписями и мотивами кожлянской игрушки.
            a.button-default.block-image__button#order-btn
                span Заказать
                img(src="images/dest/vector/arrow-btn.svg")
            .block-image__pic.block-image__pic--mobile
                .figure-pic
                    .figure-pic__wrapper
                        img(src="images/dest/image77.jpg", alt="")
                        img(src="images/dest/image132.jpg", alt="")
                    .border.border-2
        .block-image__pic
            .figure-pic
                .figure-pic__wrapper
                    img(src="images/dest/image77.jpg", alt="")
                    img(src="images/dest/image132.jpg", alt="")
                .border.border-2

    section.excursions-block._container
        h2.title-inner Экскурсии
        .excursions-block__wrapper
            .excursions-block__item
                h3.excursions-block__title Самостоятельное <br> посещение
                p.excursions-block__text Текст с описанием типа экскурсии и его преимущества для посетителя комплекса. Ещё предложение для объёма текста.
                ul.excursions-block__list
                    li
                        img(src="images/dest/vector/icn1.svg")
                        span Преимущество один
                    li
                        img(src="images/dest/vector/icn2.svg")
                        span Преимущество два
                    li
                        img(src="images/dest/vector/icn3.svg")
                        span Преимущество три
                a.button-default.button-default--white.excursions-block__button(href="")
                    span Заказать
            .excursions-block__item.excursions-block__item--center
                h3.excursions-block__title Групповые <br> экскурсии
                p.excursions-block__text Текст с описанием типа экскурсии и его преимущества для посетителя комплекса. Ещё предложение для объёма текста.
                ul.excursions-block__list
                    li
                        img(src="images/dest/vector/icn1.svg")
                        span Преимущество один
                    li
                        img(src="images/dest/vector/icn2.svg")
                        span Преимущество два
                    li
                        img(src="images/dest/vector/icn3.svg")
                        span Преимущество три
                a.button-default.excursions-block__button(href="")
                    span Заказать
                img(src="images/dest/vector/circle.svg").excursions-block__item-pic
            .excursions-block__item
                h3.excursions-block__title Индивидуальная <br> экскурсия
                p.excursions-block__text Текст с описанием типа экскурсии и его преимущества для посетителя комплекса. Ещё предложение для объёма текста.
                ul.excursions-block__list
                    li
                        img(src="images/dest/vector/icn1.svg")
                        span Преимущество один
                    li
                        img(src="images/dest/vector/icn2.svg")
                        span Преимущество два
                    li
                        img(src="images/dest/vector/icn3.svg")
                        span Преимущество три
                a.button-default.button-default--white.excursions-block__button(href="")
                    span Заказать

    section.locations-block
        ._container
            h2.title-inner Локации
        ._container.opacity-slide.opacity-slide--2
            .swiper-location.swiper-location-4
                .swiper-wrapper
                    .swiper-slide.location-block__item
                        img.location-block__picture(src="images/dest/location/item2.jpg" alt="")
                        .location-block__title
                            span Отдых всей семьей
                            img(src="images/dest/vector/arrow-next.svg" alt="")
                    .swiper-slide.location-block__item
                        img.location-block__picture(src="images/dest/location/item2.jpg" alt="")
                        .location-block__title
                            span Этнографический парк
                            img(src="images/dest/vector/arrow-next.svg" alt="")
                    .swiper-slide.location-block__item
                        img.location-block__picture(src="images/dest/location/item2.jpg" alt="")
                        .location-block__title
                            span Спортивные площадки
                            img(src="images/dest/vector/arrow-next.svg" alt="")
                    .swiper-slide.location-block__item
                        img.location-block__picture(src="images/dest/location/item2.jpg" alt="")
                        .location-block__title
                            span Аллея Мельниц
                            img(src="images/dest/vector/arrow-next.svg" alt="")


    include modules/modal
