extends base.pug
block page
    .breadcrumbs._container
        .breadcrumbs__wrapper
            a(href="/") Главная
            img(src="images/dest/vector/arrow-breadcrumbs.svg" alt="")
            a(href="news.html") Новости
            img(src="images/dest/vector/arrow-breadcrumbs.svg" alt="")
            a.active Новость
        .breadcrumbs__mobile
            a(href="/")
                img(src="images/dest/vector/arrow-breadcrumbs-mobile.svg" alt="")
                span Назад
    section.new._container-small
        h1.new__main-title Туроператорам региона предложено включить данный объект в действующий экскурсионный маршрут
        date.new__date
            img(src="images/dest/vector/date_range2.svg", alt="")
            span 25 января 2022
        .new__picture
            img(src="images/dest/news/item1.jpg", alt="")
        h2.new__title Сейчас идёт ремонт одного из объектов культурного наследия нашего края — уникальной водяной мельницы в деревне Красниково Пристенского района. Единственная сохранившаяся в Черноземье мельница была построена в XVIII веке без единого гвоздя.
        .new__content
            p Сейчас идёт ремонт одного из объектов культурного наследия нашего края — уникальной водяной мельницы в деревне Красниково Пристенского района. Единственная сохранившаяся в Черноземье мельница была построена в XVIII веке без единого гвоздя. Реконструирует мельницу приглашённый мастер из Пскова. На данный момент уже заменены ось колеса и жёлоб, по которому зерно подаётся к жерновам. А ещё готовится опора для поддержки всей конструкции колеса. После завершения ремонтных работ мельницу снова запустят.
            p Сейчас идёт ремонт одного из объектов культурного наследия нашего края — уникальной водяной мельницы в деревне Красниково Пристенского района. Единственная сохранившаяся в Черноземье мельница была построена в XVIII веке без единого гвоздя. Реконструирует мельницу приглашённый мастер из Пскова. На данный момент уже заменены ось колеса и жёлоб, по которому зерно подаётся к жерновам. А ещё готовится опора для поддержки всей конструкции колеса. После завершения ремонтных работ мельницу снова запустят.
        .new__picture
            img(src="images/dest/news/item2.jpg", alt="")
        .new__content
            p Сейчас идёт ремонт одного из объектов культурного наследия нашего края — уникальной водяной мельницы в деревне Красниково Пристенского района. Единственная сохранившаяся в Черноземье мельница была построена в XVIII веке без единого гвоздя.
            p Реконструирует мельницу приглашённый мастер из Пскова. На данный момент уже заменены ось колеса и жёлоб, по которому зерно подаётся к жерновам. А ещё готовится опора для поддержки всей конструкции колеса. После завершения ремонтных работ мельницу снова запустят.
        .new__footer
            .new__share.share
                span Поделиться:
                .new__share-social.share__links
                    a(href="")
                        img(src="images/dest/vector/vk-icn.svg", alt="")
                    a(href="")
                        img(src="images/dest/vector/ok-icn.svg", alt="")
            .new__links
                a(href="news.html").button-default.button-default--white
                    img(src="images/dest/vector/arrow-breadcrumbs-mobile.svg", alt="")
                    span Все новости
                a(href="").button-default
                    span Следующая новость
                    img(src="images/dest/vector/arrow-btn.svg", alt="")
