extends base.pug
block page
    .breadcrumbs._container
        .breadcrumbs__wrapper
            a(href="/") Главная
            img(src="images/dest/vector/arrow-breadcrumbs.svg" alt="")
            a.active Этно-деревня
        .breadcrumbs__mobile
            a(href="/")
                img(src="images/dest/vector/arrow-breadcrumbs-mobile.svg" alt="")
                span Назад

    h1.title-page.title-page--mode._container
        span Отдых всей семьей
        img(src="images/dest/vector/two-lines.svg" alt="")

    section._container
        .single-picture
            img(src="images/dest/image77.jpg" alt="")

    section.locations-block._container
        h2.title-inner Локации
        .location-block__wrapper.location-block__wrapper--2
            .location-block__item
                img.location-block__picture(src="images/dest/location/item2.jpg" alt="")
                .location-block__title
                    span Гостиница
                    img(src="images/dest/vector/arrow-next.svg" alt="")
            .location-block__item
                img.location-block__picture(src="images/dest/location/item2.jpg" alt="")
                .location-block__title
                    span Кемпинг
                    img(src="images/dest/vector/arrow-next.svg" alt="")
            .location-block__item
                img.location-block__picture(src="images/dest/location/item2.jpg" alt="")
                .location-block__title
                    span Беседки
                    img(src="images/dest/vector/arrow-next.svg" alt="")
            .location-block__item
                img.location-block__picture(src="images/dest/location/item2.jpg" alt="")
                .location-block__title
                    span Спортивные площадки
                    img(src="images/dest/vector/arrow-next.svg" alt="")
            .location-block__item
                img.location-block__picture(src="images/dest/location/item2.jpg" alt="")
                .location-block__title
                    span Гостевые дома
                    img(src="images/dest/vector/arrow-next.svg" alt="")
            .location-block__item
                img.location-block__picture(src="images/dest/location/item2.jpg" alt="")
                .location-block__title
                    span Лодочная станция
                    img(src="images/dest/vector/arrow-next.svg" alt="")
