// подвал
footer.footer
    .footer-top
        .footer-top__wrapper._container
            .footer-top__col.col1
                a.logo.footer__logo(href="/")
                    img(src="images/dest/vector/logo-white.svg")
                .footer-top__item.footer-top__phone
                    a(href="+79991234567")
                        img(src="images/dest/vector/phonelink_ring.svg" alt="Сделать звонок")
                        span +7 999 123 45 67
                .footer-top__item.footer-top__mail
                    a(href="mailto:unreal@mail.ru")
                        img(src="images/dest/vector/light-alternate_email.svg")
                        span unreal@mail.ru
                .footer-top__item.footer-top__location
                    a(href="")
                        img(src="images/dest/vector/near_me.svg")
                        span Курская область, Пристенский <i class="br"></i> район, село Красниково
            .footer-top__col.col2
                span.footer-top__title О комплексе
                ul.footer-top__links
                    li
                        a(href="") Информация
                    li
                        a(href="") Новости
                    li
                        a(href="") Локации
                    li
                        a(href="") Контакты
            .footer-top__col.col3
                span.footer-top__title Посетителям
                ul.footer-top__links
                    li
                        a(href="") Экскурсии
                    li
                        a(href="") 3D тур
                    li
                        a(href="") Карта путешествий
            .footer-top__col.footer-top__social.col4
                a(href="")
                    img(src="images/dest/vector/icon-ok.svg")
                a(href="")
                    img(src="images/dest/vector/icon-vk.svg")
                a(href="")
                    img(src="images/dest/vector/icon-rutube.svg")
            .footer-top__col.footer-top__info.col5
                span &copy; Парк мельниц 2022
                a(href="") Политика конфиденциальности
                a(href="") Обработка персональных данных
            .footer-top__col.footer-top__info.col6
                span Создание сайта &nbsp;
                    a(href="https://kvokka.com/") kvokka.com
                span 3D визуализация &nbsp;
                    a(href="3d-studio.su") 3d-studio.su
