.modal#feedback
    .modal__wrapper
        h2.modal__title Обратный звонок
        form.modal__form(action="")
            input(type="name" placeholder="Имя")
            input(type="tel" placeholder="Телефон")
        .modal__concenst Нажимая кнопку отправить вы подтверждаете своё согласие на обработку &nbsp;
            a(href="") персональных данных
        button.button-default(type="submit")
            span Отправить
            img(src="images/dest/vector/arrow-btn.svg", alt="")
        button.modal__close
