.modal#submit
    .modal__wrapper
        img(src="images/dest/vector/line.svg", alt="")
        .modal__inner
            h2.modal__title Ваша заявка принята
            div В скором времени с вами свяжется наш сотрудник
        img(src="images/dest/vector/line.svg", alt="")
