.player
    audio#audio(src='https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3')
    .pleer__title Название дорожки аудиогида - название подворья
    .pleer__time
        span.time-current 00:00
        .audio-track
            .time
                span.time__point
        span.time-duration 00:00
    .pleer__btns
        button.prev
            img(src="images/dest/vector/pleer/replay_10.svg", alt="")
        button.play
            img(src="images/dest/vector/pleer/play_circle.svg", alt="")
        button.pause(style='display: none;')
            img(src="images/dest/vector/pleer/pause.svg", alt="")
        button.next
            img(src="images/dest/vector/pleer/forward_10.svg", alt="")
