script(src="js/jquery.min.js")
script(src="js/jquery.nice-select.js")
script(src="js/jquery.fancybox.min.js")
script(src="js/swiper-bundle.min.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>")
script(src="js/geoobject_contextmenu.js")
script(src="js/geoobject_contextmenu2.js")
script(src="js/pleer.js")
script(src="js/app.min.js")
